@*
    Author: Robert Page 200281838
    Website: http://robcomp2007assignment2.azurewebsites.net/
    Description: this file sets up the way the contact page looks
*@
@{
    ViewBag.Title = "Contact";
}

<h1>Happy Jacks</h1>
<h2>Address: 52 BarrieView Dr</h2>
<h3>Phone: (705) 997-6565</h3>
<img src="~/Assets/images/Map.jpg" />
                       
            