@*
    Author: Robert Page 200281838
    Website: http://robcomp2007assignment2.azurewebsites.net/
    Description: this loads and renders the home page
*@
@{
        ViewBag.Title = "Index";
}

<h2>Welcome to the MVC Resturant!</h2>

<img src="~/Assets/images/resturant1.jpg" alt="Resturant"/>
<br />
<br />

<p>
    <a href="@Url.Action("../Menu")" class="btn btn-default" title="Menu"><i class="fa fa-book"></i> View The Menu</a>
</p>
