
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the MVC Resturant!</h2>

<img src="~/Assets/images/resturant1.jpg" alt="Resturant"/>
<br />
<br />
<!--<img src="~/Assets/images/resturant1thumb.jpg" alt="Resturant Thumbnail"/>-->

<p>
    <a href="@Url.Action("../Menu")" class="btn btn-default" title="Menu"><i class="fa fa-book"></i> View The Menu</a>
</p>
